@import "../../../../../scss/vars";
@import "../../../../../scss/mixins";

.home-category {
  margin-top: 32px;

  &__container {
    max-width: 1150px;
    padding: 0 20px;
    width: 100%;
    margin-inline: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 30px;

    @include tablet-small {
      grid-template-columns: 1fr 1fr 1fr;
      gap: 15px;
    }
  }

  &__option {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 14px 12px 12px 12px;
    border-radius: 16px;
    border: 1px solid #edeef2;
    background: transparent;

    &:hover {
      border: 1px solid #697bff;
      background: #f8f9ff;
    }
  }

  &__icon {
    margin-bottom: 12px;
  }

  &__title {
    color: #545563;
    text-align: center;

    font-family: var(--ff);
    font-size: 13px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0.1px;
  }
}

.pizza_active {
  outline: 2px solid #4e60ff;
  background: #f8f9ff;
  &:hover {
    border: 1px solid transparent;
  }
}

.pizza__title_active {
  color: #4e60ff;
}

.burger_active {
  outline: 2px solid #4e60ff;
  background: #f8f9ff;
  &:hover {
    border: 1px solid transparent;
  }
}

.burger__title_active {
  color: #4e60ff;
}

.bbq_active {
  outline: 2px solid #4e60ff;
  background: #f8f9ff;
  &:hover {
    border: 1px solid transparent;
  }
}

.bbq__title_active {
  color: #4e60ff;
}

.sushi_active {
  outline: 2px solid #4e60ff;
  background: #f8f9ff;
  &:hover {
    border: 1px solid transparent;
  }
}

.sushi__title_active {
  color: #4e60ff;
}

.vegan_active {
  outline: 2px solid #4e60ff;
  background: #f8f9ff;
  &:hover {
    border: 1px solid transparent;
  }
}

.vegan__title_active {
  color: #4e60ff;
}

.desserts_active {
  outline: 2px solid #4e60ff;
  background: #f8f9ff;
  &:hover {
    border: 1px solid transparent;
  }
}

.desserts__title_active {
  color: #4e60ff;
}
