<div class="home-category">
    <div class="home-category__container">
        <button class="home-category__option pizza" id="pizza" (click)="pizza()">
            <div class="home-category__icon pizza__icon"><img src="assets/home/category/pizza.png" alt="pizza"></div>
            <div class="home-category__title pizza__title" id="pizzaTitle">Pizza</div>
        </button>

        <button class="home-category__option burger" id="burger" (click)="burger()">
            <div class="home-category__icon burger__icon"><img src="assets/home/category/burger.png" alt="burger"></div>
            <div class="home-category__title burger__title" id="burgerTitle">Burger</div>
        </button>

        <button class="home-category__option bbq" id="bbq" (click)="bbq()">
            <div class="home-category__icon bbq__icon"><img src="assets/home/category/bbq.png" alt="bbq"></div>
            <div class="home-category__title bbq__title" id="bbqTitle">BBQ</div>
        </button>

        <button class="home-category__option sushi" id="sushi" (click)="sushi()">
            <div class="home-category__icon sushi__icon"><img src="assets/home/category/sushi.png" alt="sushi"></div>
            <div class="home-category__title sushi__title" id="sushiTitle">Sushi</div>
        </button>

        <button class="home-category__option vegan" id="vegan" (click)="vegan()">
            <div class="home-category__icon vegan__icon"><img src="assets/home/category/vegan.png" alt="vegan"></div>
            <div class="home-category__title vegan__title" id="veganTitle">Vegan</div>
        </button>

        <button class="home-category__option desserts" id="desserts" (click)="desserts()">
            <div class="home-category__icon desserts__icon"><img src="assets/home/category/cake.png" alt="desserts"></div>
            <div class="home-category__title desserts__title" id="dessertsTitle">Desserts</div>
        </button>

     
    </div>
</div>