<div class="home-adv">
  <div class="home-adv__container">
    <div class="banner purple">
      <div class="banner__img">
        <img src="assets/home/adv/cake.png" alt="cake" />
      </div>
      <div class="banner__info">
        <div class="banner__offer">
          <div class="banner__title">All deserts</div>
          <div class="banner__discount purple">20% OFF</div>
        </div>
        <div class="banner__type">Deserty</div>
      </div>
    </div>

    <div class="banner orange">
      <div class="banner__img">
        <img src="assets/home/adv/burger.png" alt="cake" />
      </div>
      <div class="banner__info">
        <div class="banner__offer">
          <div class="banner__title">Big Burgers</div>
          <div class="banner__discount orange">50% OFF</div>
        </div>
        <div class="banner__type">Fooddies</div>
      </div>
    </div>
  </div>
</div>
